body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

:root {}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

.visually-hidden {
    margin: -1px;
    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* ------------HEADER------------- */
.header-logo {
    color: #2E2F42;
    font-size: 18px;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.03em;
}

.syniu {
    color: #4D5AE5;
}

.header-link {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    /* 24/16 */
    letter-spacing: 0.02em;
}

.header-soc-link {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    /* 24/16 */
    letter-spacing: 0.02em;
}

/* ------------HERO------------- */
.hero {
    background-color: #2E2F42;
}

.hero-title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 107.142857%;
    /* 60/56 */
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-btn {
    background-color: #4D5AE5;
    cursor: pointer;
}

.btn-txt {
    color: white;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    /* 24/16 */
    letter-spacing: 0.04em;
}

/* ------------PROJECT------------- */

.project {}

.project-list {}

.project-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    /* 24/20 */
    letter-spacing: 0.02em;
}

.project-item-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    /* 24/16 */
    letter-spacing: 0.02em;
}

/* ------------DEVICES------------- */
.devices {}

.dev-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 111.111111%;
    /* 40/36 */
    letter-spacing: 0.02em;
    text-align: center;
}

.dev-list {}

.dev-photo {}

/* ------------TEAM------------- */


.team {
    background-color: #F4F4FD;
}

.team-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 111.111111%;
    /* 40/36 */
    letter-spacing: 0.02em;
    text-align: center;
}

.team-list {}

.team-item {
    background-color: #FFFFFF;
}

.team-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    /* 24/20 */
    letter-spacing: 0.02em;
}

.team-item-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    /* 24/16 */
    letter-spacing: 0.02em;
}

/* ------------FOOTER------------- */
.footer {
    background-color: #2E2F42;
}

.footer-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    /* 24/16 */
    letter-spacing: 0.02em;
}

.footer-logo {
    color: #F4F4FD;
    font-size: 18px;
    font-weight: 800;
    line-height: 116.666667%;
    /* 21/18 */
    letter-spacing: 0.03em;
}

/* ------------Portfolio------------- */

/* ------------BUTTONS------------- */
.buttons {}

.btn-buttons {
    background-color: #F4F4FD;
    border: 1px solid #E7E9FC;
    border: 1px;
    cursor: pointer;
}

.btn-span {
    color: #4D5AE5;
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    /* 24/16 */
    letter-spacing: 0.04em;
    text-align: center;
}

/* ------------SELL------------- */
.sell {
    border: 1px solid #E7E9FC;
    border: 1px;
}

.sell-list {}

.sell-item {
    border: 1px solid #E7E9FC;
    border: 1px;
}

.sell-subtitle {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    /* 24/20 */
    letter-spacing: 0.02em;
}

.sell-item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    /* 24/16 */
    letter-spacing: 0.02em;
}